* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	top: 0px;
	font-family: 'Proxima Nova Condensed', sans-serif;
	font-size: 15px;
}

body {
	width: 100%;
	background-color: #EBEBEB;
	margin: 0px 0px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 150px;
}

#categorias{
	background: #ffe600;
	border: none;
	font-weight: 500;
}
.header {
	background-color: #ffe600;
	height: 100px;
	display: flex;
	justify-content: space-between;
}

.navbar {
	background-color: #ffe600;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 15%;
}

.nav-item {
	display: inline-block;
	margin: 50px 10px;
}

.nav-item .nav-link {
	color: #000;
	text-decoration: none;
	font-weight: 500;
}

#banner {
	width: 80%;
}

#logo{
	width: 180px;
}


.header {
	height: 100px;
	background-color: #ffe600;
	display: flex;
	align-items: center;
	padding-inline: 15%;
	border: 0;
	width: 100%;
}

.header.right {
	display: flex;
	margin-left: 0 auto;
	justify-content: flex-end;
}

.form {
	display: flex;
	justify-content: center;
	width: 40%;
}

.form button {
	display: grid;
	place-content: center;
	width: 50px;
}

.in-nav {
	background-color: #fff;
	padding: 10px 60px 10px 15px;
	flex-grow: 5;
	height: 40px;
	font-size: 16px;
	display: flex;
	border-radius: 2px 0px 0px 2px;
	border: 0px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
	outline: none;
}

.button-nav {
	/*padding: 10px 60px 10px 15px;*/
	border-radius: 0px 2px 2px 0px;
	border: none;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
	cursor: pointer;
	flex-direction: column;
	align-content: center;
}

.button-nav img1 {
	width: 44px;
	height: 21px;
}

.header input:focus {
	border: 1.5px solid #3483fa;
}

.add {
	display: inline-block;
}

.add img {
	max-width: 340px;
	max-height: 39px;
}

h2 {
	font-weight: 400;
	font-size: 24px;
}

.link-subtitle {
	color: #3483fa;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}

.off {
	display: flex;
	flex-direction: row;
	gap: 25px;
	margin: 0px 100px;
}

.subtitle {
	margin-top: 25px;
}

.contenedor {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 80%;
}

.row {
	display: flex;
	gap: 10px;
	margin: 0px 100px;
}

.card {
	width: 227px;
	margin-bottom: 16px;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
	padding: 60px 30px;
	max-height: 385px;
}

.card:hover {
	box-shadow: 0 1px 2px 0 rgba(0, 3, 3, 12);
}

.img-card {
	width: 100%;
	position: relative;
	border-bottom: solid #e5e5e5 1px;

}

.card a {
	text-decoration: none;
	color: #000;
}

.card-title {
	font-size: 14px;

}

.card-price {
	font-size: 24px;
	font-weight: 400;
}

.card-subtitle {
	color: #00a650;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	margin: 8px 0 4px;
	width: 100%;
	text-decoration: none;
}

.card-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.infoProducto{
	display: flex;
	flex-direction: column;
	height: 140px;
}

.card-add {
	display: flex;
	color: #4b4b4b;
	background-color: #fff;
	width: 584px; 
	height: 250px;
	padding: 0px 0px 0px 30px;
	border-radius: 2px;
}

.card-add-title {
	font-size: 24px;
	width: 150px;
}

.card-add-sub-title {
	font-size: 12px;
	letter-spacing: 5px;
	margin-bottom: 8px;
}

.img-card-add {
	height: 250px;
}

.callToAction {
	text-decoration: none;
	text-align: center;
	color: #fff;
	width: 130px;
	font-weight: 600;
	font-size: 1.2rem;
	background-color: #3483fa;
	border-color: transparent;
	border-radius: 2px;
	padding: 9px 10px;
	margin-top: 13px;
}